body {
               
    background-color: rgb(241, 232, 180);
    justify-content: center;

}
ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 30px;
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 0 10px;
}

li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.title {
    margin-top: 50px;
    font-style: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(129, 36, 36);
    text-align: center;
    line-height: 40px;
    word-spacing: 6px;
    width: 600px;
    margin-left: 420px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 25px;
    
  

}
.intro {
    
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(129, 36, 36);
    line-height: 30px;
    width: 245px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}
    

.introContent {
    line-height: 1.60;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(0, 0, 0);
    font-size: large;
   
   
   
   
}
.background {
    height: 100vh;
    background-image: url(heyy.gif); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  
   
    /*writing-mode: vertical-lr;
    text-orientation: upright; */


}
.objStudy {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(129, 36, 36);
    line-height: 30px;
    width: 245px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

ol,li {
     line-height: 1.60;
    text-align: justify;
    margin-left: 29px;
    color: rgb(0, 0, 0);
    font-size: large;
    
}
.members {
margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(129, 36, 36);
    line-height: 30px;
    width: 245px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}
.parentsTable{
    text-align: center;
    overflow-x: auto;
}
table {

    display: inline-table;
    border-collapse: collapse;
    width: 90%;
    background-color: rgb(255, 255, 255);
    
  }
   td {
    
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(2, 2, 2);
    

  }
  th {
    background-color: #0b0a58;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    
}

  .highlight {
    background-image: url(bunny.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
  }
  .expe {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(129, 36, 36);
    line-height: 30px;
    width: 245px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}
.sectionexpe {
  line-height: 1.60;
    text-align: justify;
    margin-left: 78px;
    color: rgb(0, 0, 0);
    font-size: large;

}
  .cards{
    position: relative;
    width: 300px;
    height: 350px;
    margin-left: 500px ;
    margin-top: 30px;
  margin-bottom: 30px ;
   
  }
  .cards .end {
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
  }
  .cards .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
  }
  .cards .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cards .front h3{
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background:rgb(0, 0, 0,.4);
    text-align: center;
    margin-top: 300px;
  }
  .cards .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  .cards .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  .cards .back .link a{
    color: #f3f3f3;
  }
  .cards .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .cards .back p{
    letter-spacing: 1px;
  }
.cards:hover .front{
    transform: perspective(600px) rotateY(180deg);

}
.cards:hover .back{
    transform: perspective(600px) rotateY(360deg);
}