* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}

body {
    color: #444;
    background-color: #faf3e3;
    background-image: url('image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


nav {
    background-image: url('cooking.jpg');
    padding: 10px;
    text-align: right;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 5px;
}

nav a:first-child {
   
    font-weight: bold;
}


header {
    background-color: rgb(196, 41, 41);
    padding: 5px 20px;
    text-align: center;
    color: #ffffff;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}


section {
    padding: 40px 20px;
    text-align: center;
}

.about h2, .services h2, .contact h2 {
    color: #fff;
    font-size: 2.2em;
    text-align: center;
    border-radius: 70px;
    background-image: url('cooking.jpg');
    width: 260px;
    height: 40px;
    margin: 0 auto;
}

.about p, .contact p {
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: #000000;
    margin: 30px auto;
    border-radius: 8px;
    background-color: #fff;
    width: 400px;
    height: auto;
}


.services .service-item {
    display: inline-block;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 15px;
}

.services .service-item h3 {
    color: #b84300;
    font-size: 1.3em;
}


footer {
    background-image: url('cooking.jpg');
    color: #faf3e3;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}