
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background.jfif); 
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

li a{
    color: white;
    text-decoration: none;
    margin-inline: 25px;
    
}
ul li {
    list-style-type: none;
}
ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 422px;
    margin-top: 30px;
}
.intro-section {
    display: flex;
    align-items: center; 
    padding: 110px;
    max-width: 5000px;
    padding-top: 0;
    height: 480px;
  
  
  }
  
  .text-content {
    flex: 1; 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    line-height: 5rem;
    margin-left: 220px;

  
  }
  
  .image-content img {
    max-width: 290px; 
    height: 330px; 
    border-radius: 10px;
   margin-right: 150px; 
   margin-top: 0;
   
   
  }
  